<a href="https://colab.research.google.com/github/jupacata-boop/Primer-examen-parcial-/blob/main/Copia_de_Parcial1AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Importaciones necesarias
import pandas as pd
import numpy as np
from datasets import load_dataset
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import (confusion_matrix, roc_curve, roc_auc_score,
                          silhouette_score, classification_report)

# Modelos
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import xgboost as xgb

In [ ]:
dataset = load_dataset("scikit-learn/student-alcohol-consumption")
df = pd.DataFrame(list(dataset['train'].shuffle(seed=42).take(1044)))
print("Información del dataset cargado:")
print(f"Dimensiones: {df.shape}")
print(f"Columnas: {list(df.columns)}")
print(f"\nDistribución de la variable objetivo:")
print(df['G3'].value_counts(normalize=True))

Información del dataset cargado:
Dimensiones: (1044, 33)
Columnas: ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

Distribución de la variable objetivo:
G3
10    0.146552
11    0.144636
13    0.108238
12    0.098659
14    0.086207
15    0.078544
8     0.064176
9     0.060345
0     0.050766
16    0.049808
17    0.033525
18    0.025862
7     0.018199
6     0.017241
5     0.007663
19    0.006705
20    0.000958
1     0.000958
4     0.000958
Name: proportion, dtype: float64

In [ ]:
#school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
#sex - student's sex (binary: 'F' - female or 'M' - male)
#age - student's age (numeric: from 15 to 22)
#address - student's home address type (binary: 'U' - urban or 'R' - rural)
#famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
#Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
#Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
#Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
#Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
#Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
#reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
#guardian - student's guardian (nominal: 'mother', 'father' or 'other')
#traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
#studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
#failures - number of past class failures (numeric: n if 1<=n<3, else 4)
#schoolsup - extra educational support (binary: yes or no)
#famsup - family educational support (binary: yes or no)
#paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
#activities - extra-curricular activities (binary: yes or no)
#nursery - attended nursery school (binary: yes or no)
#higher - wants to take higher education (binary: yes or no)
#internet - Internet access at home (binary: yes or no)
#romantic - with a romantic relationship (binary: yes or no)
#famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
#freetime - free time after school (numeric: from 1 - very low to 5 - very high)
#goout - going out with friends (numeric: from 1 - very low to 5 - very high)
#Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
#Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
#health - current health status (numeric: from 1 - very bad to 5 - very good)
#absences - number of school absences (numeric: from 0 to 93)''

In [ ]:
for col in df.columns:
   print(f"\nValue counts for column: {col}")
   print(df[col].value_counts())

Value counts for column: school
school
GP    772
MS    272
Name: count, dtype: int64

Value counts for column: sex
sex
F    591
M    453
Name: count, dtype: int64

Value counts for column: age
age
16    281
17    277
18    222
15    194
19     56
20      9
21      3
22      2
Name: count, dtype: int64

Value counts for column: address
address
U    759
R    285
Name: count, dtype: int64

Value counts for column: famsize
famsize
GT3    738
LE3    306
Name: count, dtype: int64

Value counts for column: Pstatus
Pstatus
T    923
A    121
Name: count, dtype: int64

Value counts for column: Medu
Medu
4    306
2    289
3    238
1    202
0      9
Name: count, dtype: int64

Value counts for column: Fedu
Fedu
2    324
1    256
3    231
4    224
0      9
Name: count, dtype: int64

Value counts for column: Mjob
Mjob
other       399
services    239
at_home     194
teacher     130
health       82
Name: count, dtype: int64

Value counts for column: Fjob
Fjob
other       584
services    292
teacher      65
at_home      62
health       41
Name: count, dtype: int64

Value counts for column: reason
reason
course        430
home          258
reputation    248
other         108
Name: count, dtype: int64

Value counts for column: guardian
guardian
mother    728
father    243
other      73
Name: count, dtype: int64

Value counts for column: traveltime
traveltime
1    623
2    320
3     77
4     24
Name: count, dtype: int64

Value counts for column: studytime
studytime
2    503
1    317
3    162
4     62
Name: count, dtype: int64

Value counts for column: failures
failures
0    861
1    120
2     33
3     30
Name: count, dtype: int64

Value counts for column: schoolsup
schoolsup
no     925
yes    119
Name: count, dtype: int64

Value counts for column: famsup
famsup
yes    640
no     404
Name: count, dtype: int64

Value counts for column: paid
paid
no     824
yes    220
Name: count, dtype: int64

Value counts for column: activities
activities
no     528
yes    516
Name: count, dtype: int64

Value counts for column: nursery
nursery
yes    835
no     209
Name: count, dtype: int64

Value counts for column: higher
higher
yes    955
no      89
Name: count, dtype: int64

Value counts for column: internet
internet
yes    827
no     217
Name: count, dtype: int64

Value counts for column: romantic
romantic
no     673
yes    371
Name: count, dtype: int64

Value counts for column: famrel
famrel
4    512
5    286
3    169
2     47
1     30
Name: count, dtype: int64

Value counts for column: freetime
freetime
3    408
4    293
2    171
5    108
1     64
Name: count, dtype: int64

Value counts for column: goout
goout
3    335
2    248
4    227
5    163
1     71
Name: count, dtype: int64

Value counts for column: Dalc
Dalc
1    727
2    196
3     69
4     26
5     26
Name: count, dtype: int64

Value counts for column: Walc
Walc
1    398
2    235
3    200
4    138
5     73
Name: count, dtype: int64

Value counts for column: health
health
5    395
3    215
4    174
1    137
2    123
Name: count, dtype: int64

Value counts for column: absences
absences
0     359
2     175
4     146
6      80
8      64
10     38
12     24
14     20
16     17
5      17
3      15
1      15
9      10
7      10
18      8
11      8
15      5
22      5
20      4
13      4
21      3
30      2
24      2
26      2
75      1
32      1
19      1
40      1
17      1
38      1
25      1
56      1
54      1
23      1
28      1
Name: count, dtype: int64

Value counts for column: G1
G1
10    146
11    130
12    117
13    105
14    101
9      96
8      83
7      70
15     59
16     44
6      33
17     24
18     15
5      12
19      4
4       3
0       1
3       1
Name: count, dtype: int64

Value counts for column: G2
G2
11    138
10    129
12    127
9     122
13    117
14     77
8      72
15     72
16     38
7      37
18     26
17     25
6      21
0      20
5      18
19      4
4       1
Name: count, dtype: int64

Value counts for column: G3
G3
10    153
11    151
13    113
12    103
14     90
15     82
8      67
9      63
0      53
16     52
17     35
18     27
7      19
6      18
5       8
19      7
20      1
1       1
4       1
Name: count, dtype: int64

In [ ]:
key_cols = [
"school","sex","age","address","famsize","Pstatus",
    "Medu","Fedu","Mjob","Fjob","reason","nursery","internet"
]
df_clean = df.drop_duplicates(subset=key_cols, keep="first")
print("Filas originales:", len(df))
print("Filas después de limpiar:", len(df_clean))
print("Duplicados eliminados:", len(df) - len(df_clean))

Filas originales: 1044
Filas después de limpiar: 662
Duplicados eliminados: 382

In [ ]:
numeric_features= ['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2']

In [ ]:
categorical_features=['school', 'sex', 'address', 'famsize', 'Pstatus', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery' ,'higher', 'internet', 'romantic']

In [ ]:
scaler = StandardScaler()
df[numeric_features] = scaler.fit_transform(df[numeric_features])

In [ ]:
   for feature in categorical_features:
        le = LabelEncoder()
        df[feature] = le.fit_transform(df[feature].astype(str))

In [ ]:
display(df)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,1,0.221035,0,0,1,4,3,3,2,...,3,4,4,0,2,1,-0.070060,0.599068,-0.074971,-0.088522
1,1,1,0.221035,1,1,1,3,1,3,3,...,1,3,4,2,3,1,0.252155,-0.406981,-0.379525,-0.347391
2,1,0,1.834744,0,0,0,1,1,0,0,...,2,4,3,0,3,0,-0.714489,-1.077679,-3.425058,-2.936090
3,0,0,-1.392674,1,1,1,1,1,0,2,...,3,2,1,1,2,2,0.896584,-1.413029,-0.988631,-0.347391
4,0,1,-0.585820,1,0,1,4,3,4,2,...,2,3,2,1,2,2,0.896584,-0.742330,-0.988631,-0.865131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,0,1,-1.392674,1,0,1,4,4,3,4,...,3,2,2,0,0,4,-0.714489,0.934417,1.143242,0.946958
1040,0,1,-0.585820,0,0,1,4,3,3,2,...,2,2,2,0,0,3,0.252155,-0.742330,-0.074971,-0.088522
1041,0,1,-0.585820,1,1,1,2,2,3,3,...,1,2,2,1,1,1,0.574369,-0.742330,-0.684078,-0.606261
1042,0,0,1.834744,1,0,1,3,3,2,3,...,3,2,4,2,2,4,1.863228,-0.071631,0.229582,0.170348
1043,1,1,0.221035,1,0,1,3,3,1,2,...,3,4,3,1,2,2,-0.070060,-1.077679,-0.684078,-0.347391

In [ ]:
#Paso 3 con función